<div class="card2">
  <div class="container1">
    <h2><b>{{product.productTitle}}</b></h2>
    <hr class="styleHr">
  </div>
  <div class="detail">
    <div class="dealimage">

      <div id="badge"><b>{{product.price}}</b></div>
      <img id="dealimg" src={{product.image}} alt="Imag">
    </div>
    <div class="dealInfo">
      <h4>{{product.description}}</h4>
      <!-- <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"
        data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Rating
      </button> -->
      <p>{{product.details}}</p>
    </div>
    <a class="continue" href=""> CHECK REVIEWS</a>
  </div>

</div>
