
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <app-chat-sidebar></app-chat-sidebar>




      <!-- messages start -->
      <div class="col-md-8 col-xl-9 chat">
        <div class="card">
          <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
              <div class="img_cont">
                <img src="../../../assets/images/user1.jpg" class="rounded-circle user_img">
                <span class="online_icon"></span>
              </div>
              <div class="user_info">
                <span>Chat Group</span>
              </div>
              <div class="video_cam">
                <span><i class="fas fa-video"></i></span>
                <span><i class="fas fa-phone"></i></span>
              </div>
            </div>
          </div>
          <div class="card-body msg_card_body">
            <!-- <div class="d-flex justify-content-start mb-4">
              <div class="img_cont_msg">
                <img src="../../../assets/images/user1.jpg" class="rounded-circle user_img_msg">
              </div>
              <div class="msg_cotainer">
                Bye, see you
                <span class="msg_time">9:12 AM, Today</span>
              </div>
            </div> -->
            <ul id="message-list">
                <!-- <span class="msg_time">9:15 AM, Today</span> -->
              </ul>
            <!-- <div class="img_cont_msg">
                  <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
                </div> -->
          </div>
          <div class="card-footer">
            <div class="input-group">
  
              <textarea name="" class="form-control type_msg" placeholder="Type your message..." [(ngModel)]="message"
                (keyup.enter)="sendMessage()"></textarea>
              <div class="input-group-append">
                <span class="input-group-text send_btn"><i class="fas fa-location-arrow"
                    (click)="sendMessage()"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  