<table class="table table-striped ">
  <thead class="thead-dark">
    <tr>
      <th *ngFor = "let column of header">
        {{column}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of user">
      <!-- <td *ngFor= "let keys of item"></td> -->
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.address.suite}},{{item.address.street}},{{item.address.city}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.company.name}}</td>
    </tr>
  </tbody>
</table>