/* element.style{
  background-color: rgba(128, 128, 128, 0.4);
  
} */

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #E2E2E2;
  /* background-image: url("../../../assets/Images/background.png");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center; */
}

.signUpbutton {
  background-color: transparent;
  color: black;
  min-height: 20px;
  min-width: 50px;
  width: 80px;
  height: auto;
  border-radius: 6px;
  margin-left: 3%;
}
.signUpbutton:hover {
  background-color: #3A4050;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: white;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  height: 100%;
  padding: 5px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-drawer {
  width: 250px;
}

aside {
  width: 20%;
  padding-left: 15px;
  margin-left: 15px;
  margin-right: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}
