<div class="container">
    <br>
    <h3>Introduction!</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <br>
    <h3>Add User</h3>
    
    <div class="input-group mb-3">
        <div class="col-xs-2">
            <input type="text" (keyup.enter)="addNewUSer(user.value)" class="form-control" placeholder="Enter name here" #user id="user1">
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="addNewUSer(user.value)">Add User</button>
        </div>
    </div>
    <app-user [names]="name"></app-user>

    <h1 appHighlight>About Loram Ipsam</h1>
    <app-about (outputEvent)="addItem($event)"></app-about>
    <br>
    {{about}}

</div>